<!DOCTYPE html>
<html lang="{{- .Site.LanguageCode -}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{- .Site.Title -}}</title>
    {{- $style := resources.Get "scss/style.scss" | css.Sass -}}
    <link rel="stylesheet" href="{{- $style.RelPermalink -}}">
    {{- block "head" . -}}
    <!-- Custom head content -->
    {{- end -}}
</head>
<body>
    {{- block "header" . -}}
    {{- end -}}

    {{- block "main" . -}}
    <!-- Content from templates will go here -->
    {{- end -}}

    {{- block "footer" . -}}
        {{- partial "footer.html" . -}}
    {{- end -}}

    {{- block "scripts" . -}}
    <!-- Custom scripts -->
    {{- end -}}
</body>
</html>
