{{ define "main" }}
<main>
    <h1>{{ .Title }}</h1>
    <hr>
    <p>{{ .Content }}</p>
    <h2>Grounds Images</h2>
    <div class="gallery-grounds">
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_41.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_41.jpg" alt="grounds_41.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_42.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_42.jpg" alt="grounds_42.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_43.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_43.jpg" alt="grounds_43.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_44.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_44.jpg" alt="grounds_44.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_45.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_45.jpg" alt="grounds_45.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_46.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_46.jpg" alt="grounds_46.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_47.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_47.jpg" alt="grounds_47.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_48.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_48.jpg" alt="grounds_48.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_49.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_49.jpg" alt="grounds_49.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_51.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_51.jpg" alt="grounds_51.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_52.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_52.jpg" alt="grounds_52.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_53.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_53.jpg" alt="grounds_53.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_54.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/grounds_54.jpg" alt="grounds_54.jpg"></a>
    </div>

    <h2>Wedding Images</h2>
    <div class="gallery-wedding">
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_1.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_1.jpg" alt="wedding_event_1.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_2.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_2.jpg" alt="wedding_event_2.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_3.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_3.jpg" alt="wedding_event_3.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_4.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_4.jpg" alt="wedding_event_4.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_5.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_5.jpg" alt="wedding_event_5.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_6.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_6.jpg" alt="wedding_event_6.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_7.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_7.jpg" alt="wedding_event_7.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_8.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_8.jpg" alt="wedding_event_8.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_9.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_9.jpg" alt="wedding_event_9.jpg"></a>
        <a href="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_10.jpg"><img src="{{ if in .Site.BaseURL "/wedding_venue" }}/wedding_venue{{ end }}/images/events/wedding_event_10.jpg" alt="wedding_event_10.jpg"></a>
    </div>
</main>
{{ end }}
